.text {
  border-radius: 15px;
  position: fixed;
  top: 0;
  right: 0rem;
  margin: 2rem;
  min-width: 250px;
  min-height: 40px;
  box-shadow: 6px 6px 12px #00000040;
  padding: 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  color: aliceblue;
}

.success .text{
  background-color: rgb(6, 160, 39);
}

.failure .text{
  background-color: rgb(245, 80, 80);
}
